**1.Read this dataset in pandas,mysql and mongodb**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\KIIT\Desktop\FitBit data.csv")

**3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format**

In [8]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [7]:
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

***4 . Find out in this data that how many unique id's we have***

In [13]:
df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [14]:
len(df['Id'].unique())

35

**5 . which id is one of the active id that you have in whole dataset**

In [15]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [22]:
active=pd.DataFrame(df.groupby(['Id'])['Calories'].sum())

In [29]:
active.sort_values(by=['Calories'],ascending=False)[0:1]

            Calories
Id
4020332650     98412

***6 . how many of them have not logged there activity find out in terms of number of ids***

In [30]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [ ]:
df[df['LoggedActivitiesDistance']==0]["Id"].value_counts().sum()

***7 . Find out who is the laziest person id that we have in dataset***

In [36]:
lazy=pd.DataFrame(df.groupby(['Id'])['Calories'].sum())

In [37]:
lazy.sort_values(by=['Calories'])[0:1]

            Calories
Id
4388161847     14442

***8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset***

Most female adults need 1,600–2,200 calories per day, while adult males need 2,200–3,000 calories per day.

Will take male here

In [38]:
df[df['Calories'] >= 2200]["Id"].value_counts().sum()

196

***9. how many person are not a regular person with respect to activity try to find out those***

In [39]:
df[df['Calories'] <= 2200]["Id"].value_counts().sum()

261

***10 . who is the thired most active person in this dataset find out those in pandas and in sql both .***

In [43]:
active.sort_values(by=['Calories'],ascending=False)[2:3]

            Calories
Id
4702921684     42322

In [44]:
'''select Id , sum(Calories) from fitbit group by Id order by desc limit 1 offset 2 '''

'select Id , sum(Calories) from fitbit group by Id order by desc limit 1 offset 2 '

***11 . who is the 5th most laziest person avilable in dataset find it out ***

In [45]:
lazy.sort_values(by=['Calories'])[5:6]

            Calories
Id
2891001357     18187

***12 . what is a totla acumulative calories burn for a person find out***

In [46]:
pd.DataFrame(df.groupby(['Id'])['Calories'].sum())

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414